* {
    font-size: 62.5%;
    box-sizing: border-box;
}

.login-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3.0rem;
    font-family: "Ubuntu Condensed", sans-serif;
}

.login-logo {
    margin: 10px 0;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.login-input {
    font-size: 3.0rem;
    text-align: start;
    margin-bottom: 50px;
    width: 60%;
    height: 100px;
    padding: 0px 100px;
}

.login-button {
    cursor: pointer;
    width: 45%;
    border-radius: 10px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 3.0rem;
    opacity: 0.70;
    color: white;
    background-color: blue;
    height: 100px;
    padding: 0px 100px;
}

.login-button:hover {
    width: 47.5%;
    opacity: 1.0;
    transition: 1s;
}