* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0 auto;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  height: 50px;
  margin: 0;
}

.post {
  display: flex;
  padding: 0 0 2.5% 0;
  border: 0.25px solid rgb(0, 0, 0, 0.6);
  width: 60%;
  margin: 7.0% 0;
  flex-wrap: wrap;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
}