* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0 auto;
}

.post {
  display: flex;
  padding: 2.5% 0;
  border: 0.5px solid black;
  width: 70%;
  margin: 7.0% 0;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1140px;
}