* {
    box-sizing: border-box;
    font-size: 62.5%;
}

.comment-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.click-icons {
    width: 100%;
    margin-left: 10px;
}

.click-icons i {
    cursor: pointer;
    font-size: 2.4rem;
    margin: 10px 0;
}

.click-icons i:first-child {
    margin-right: 15px;
}

.likes {
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 10px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
}

.comment:last-child {
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(166, 176, 178, .75);
}

.comment-username {
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0;
}

.comment-content {
    margin-left: 5px;
    width: 90%;
    font-size: 1.4rem;
}

form {
    margin-left: 10px;
    font-size: 2.0rem;
}

.new-comment {
    height: 30px;
    margin: 0;
    color: grey;
    opacity: 0.5;
    border: none;
    border-color: transparent;
}